<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Receitas cetogênicas</title>

    <!-- CSS -->
    <!-- load bootstrap and our own personal stylesheet -->
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">

</head>
<body>

    <div class="container">
      <h1> Receitas cetogênicas </h1>
        <div class="jumbotron">
            <h2>PÃO DE SEMENTES CROCANTES</h2>
            <p>
              [pão] [receita] [massa]
              <br>
              <br>INGREDIENTES:
              <br>- 2 colheres de sopa de Psyllium em pó (disponível em farmácias ou mercados centrais)
              <br>- 1 e 1/2 xícara de água
              <br>- 1/2 xícara de amêndoas
              <br>- 1/2 xícara de avelãs
              <br>- 1/2 xícara de sementes de gergelim
              <br>- 1/2 xícara de sementes de girassol
              <br>- 1/2 xícara de sementes de abóbora cruas e sem casca
              <br>- 1 ou 2 colheres de chá de sal
              <br>- 3 colheres de sopa de azeite
              <br>
              <br>MODO DE PREPARO:
              <br>- Misture Psyllium e água em uma tigela.
              <br>- Reserve por 5 minutos até formar um gel grosso.
              <br>- No processador, misture todas as sementes, as nuts, as nozes e pulse algumas vezes, o suficiente para triturá-las grosseiramente.
              <br>- Coloque em uma tigela, adicione sal e azeite.
              <br>- Adicione o gel e misture bem.
              <br>- Despeje em uma forma de muffin untada e leve ao forno aquecido a 180º C por 45-50 minutos.
              <br>- Reserve por 1 hora para as sementes hidratarem.
            </p>
              <!-- This is the sample of a tutorial on <a href="https://scotch.io">scotch.io</a></p> -->
              <!-- <a href="https://scotch.io/tutorials/" class="btn btn-primary btn-lg">View the Tutorial</a> -->
        </div>
    </div>
    <div class="container">
        <div class="jumbotron">
            <h2>PÃO DE FARINHA DE AMÊNDOAS</h2>
            <p>
              [pão] [receita] [massa]
              <br>
              <br>INGREDIENTES:
              <br>- 1 xícara de farinha de amêndoas (também funciona com farinha de amendoim ou de outras oleaginosas)
              <br>- 3 ovos
              <br>- 50 gramas de queijo parmesão ralado fino
              <br>- 3 colheres de sopa de água
              <br>- 3 colheres de sopa de creme de leite fresco, nata ou creme de leite em lata
              <br>- 1 colher de sopa de fermento químico em pó
              <br>
              <br>PASSO A PASSO:
              <br>- Bata os ingredientes com exceção do fermento em um liquidificador.
              <br>- Acrescente o fermento e bata para incorporar.
              <br>- Disponha a mistura em uma forma retangular untada, daquelas de bolo inglês.
              <br>- Asse em forno a 200 graus, por 30 minutos ou até dourar e desenforme em seguida.
              <br>- Manter em geladeira por até 5 dias
            </p>
        </div>
    </div>
    <div class="container">
        <div class="jumbotron">
            <h2>PÃO DE FRIGIDEIRA</h2>
            <p>
              [pão] [massa] [receita]
              <br>
              <br>INGREDIENTES:
              <br>- 1 ovo
              <br>- 1 colher (sopa) de farinha de amêndoa
              <br>- 1 colher (sopa) de farinha de linhaça dourada
              <br>- 1 colher (sopa) de flocos de amaranto ou quinoa
              <br>- 1 colher (chá) de gergelim torrado
              <br>- 1 colher (café) de fermento biológico
              <br>- 1 pitada de sal marinho
              <br>
              <br>MODO DE PREPARO:
              <br>- Em uma tigela, coloque o ovo e bata com um batedor de arame (fouet) ou garfo.
              <br>- Depois, acrescente as farinhas e mexa bem. Por último, coloque o gergelim e o fermento.
              <br>- Aqueça uma frigideira pequena (daquelas de fritar ovo ou quadrada) em fogo bem baixo e despeje a massa.
              <br>- Coloque uma tampa e deixe assar de um lado.
              <br>- Quando estiver dourado, vire para assar e dourar do outro lado.
            </p>
        </div>
    </div>
</body>
</html>
