<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Receitas cetogênicas</title>

    <!-- CSS -->
    <!-- load bootstrap and our own personal stylesheet -->
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">

</head>
<body>

<div class="container">
    <div> <!-- <div class="jumbotron"> -->
        <h1>MINI PIZZA DE BERINJELA</h1>
        <p>
          [refeição] [lanche] [almoço] [jantar]
          <br>
          INGREDIENTES:
          - 1 berinjela grande cortada em discos não muito finos nem muito grossos
          - Queijo parmesão de qualidade ralado na hora (já existe no Brasil uma opção vegana, da Superbom)
          - Molho de tomate caseiro (idealmente, é claro), temperado com alho e especiarias.
          - Tomates-cereja
          - Folhas de manjericão
          - Orégano

          MODO DE PREPARO:
          - Pincele, frente e verso, os discos da berinjela com azeite e sal.
          - Coloque em uma assadeira.
          - Cubra cada uma com molho de tomate e em seguida adicione os demais recheios.
        </p>
          <!-- This is the sample of a tutorial on <a href="https://scotch.io">scotch.io</a></p> -->
          <!-- <a href="https://scotch.io/tutorials/" class="btn btn-primary btn-lg">View the Tutorial</a> -->
    </div>
</div>

</body>
</html>
